{# templates/rendezvous/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Prendre un rendez-vous{% endblock %}

{% block body %}
<h1>Prendre un rendez-vous</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <table>
        <tr>
            <td>{{ form_label(form.date_don, "Date et heure du rendez-vous") }}</td>
            <td>{{ form_widget(form.date_don) }}</td>
            <td>{{ form_errors(form.date_don) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.entite) }}</td>
            <td>{{ form_widget(form.entite) }}</td>
            <td>{{ form_errors(form.entite) }}</td>
        </tr>
    </table>
    {{ form_widget(form.submit) }}

{{ form_end(form) }}
{% endblock %}
