{% extends 'front/base.html.twig' %}


{% block body %}
<h1>Gestion des Campagnes & Entités (Front)</h1>


<h2>Créer une campagne</h2>
{{ form_start(compagneForm, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(compagneForm) }}
<button type="submit">Créer</button>
{{ form_end(compagneForm) }}


<hr>
<h2>Créer une entité</h2>
{{ form_start(entiteForm, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(entiteForm) }}
<button type="submit">S'inscrire</button>
{{ form_end(entiteForm) }}


<hr>
<h2>Liste des campagnes</h2>
<table border="1">
<tr><th>ID</th><th>Titre</th><th>Début</th><th>Fin</th><th>Actions</th></tr>
{% for c in campagnes %}
<tr>
<td>{{ c.id }}</td>
<td>{{ c.titre }}</td>
<td>{{ c.dateDebut|date('Y-m-d') }}</td>
<td>{{ c.dateFin|date('Y-m-d') }}</td>
<td>
<a href="{{ path('front_edit_compagne', {'id': c.id}) }}">Modifier</a>
<form method="post" action="{{ path('front_delete_compagne', {'id': c.id}) }}" style="display:inline;">
<input type="hidden" name="_token" value="{{ csrf_token('delete_compagne' ~ c.id) }}">
<button>Supprimer</button>
</form>
</td>
</tr>
{% endfor %}
</table>


<hr>
<h2>Liste des entités</h2>
<table border="1">
<tr><th>ID</th><th>Nom</th><th>Localisation</th><th>Téléphone</th><th>Actions</th></tr>
{% for e in entites %}
<tr>
<td>{{ e.id }}</td>
<td>{{ e.nom }}</td>
<td>{{ e.localisation }}</td>
<td>{{ e.telephone }}</td>
<td>
<a href="{{ path('front_edit_entite', {'id': e.id}) }}">Modifier</a>
<form method="post" action="{{ path('front_delete_entite', {'id': e.id}) }}" style="display:inline;">
<input type="hidden" name="_token" value="{{ csrf_token('delete_entite' ~ e.id) }}">
<button>Supprimer</button>
</form>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}