{% extends 'base.html.twig' %}

{% block title %}Détails de l'Entité de Collecte{% endblock %}

{% block body %}
    <h1>Détails de l'Entité de Collecte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entitecollecte.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entitecollecte.nom }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ entitecollecte.localisation }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ entitecollecte.telephone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entitecollecte_index') }}">Retour à la liste</a>

    <a href="{{ path('app_entitecollecte_edit', {'id': entitecollecte.id}) }}">Modifier</a>

    {{ include('entitecollecte/_delete_form.html.twig') }}
{% endblock %}
