{% extends 'front/base.html.twig' %}


{% block body %}
<h1>Back Office - Gestion Campagnes & Entités</h1>


<h2>Campagnes</h2>
<table border="1">
<tr><th>ID</th><th>Titre</th><th>Actions</th></tr>
{% for c in compagnes %}
<tr>
<td>{{ c.id }}</td>
<td>{{ c.titre }}</td>
<td>
<a href="{{ path('back_edit_compagne', {'id': c.id}) }}">Modifier</a>
<form method="post" action="{{ path('back_delete_compagne', {'id': c.id}) }}" style="display:inline;">
<input type="hidden" name="_token" value="{{ csrf_token('delete_compagne' ~ c.id) }}">
<button>Supprimer</button>
</form>
</td>
</tr>
{% endfor %}
</table>


<hr>
<h2>Entités</h2>
<table border="1">
<tr><th>ID</th><th>Nom</th><th>Actions</th></tr>
{% for e in entites %}
<tr>
<td>{{ e.id }}</td>
<td>{{ e.nom }}</td>
<td>
<a href="{{ path('back_edit_entite', {'id': e.id}) }}">Modifier</a>
<form method="post" action="{{ path('back_delete_entite', {'id': e.id}) }}" style="display:inline;">
<input type="hidden" name="_token" value="{{ csrf_token('delete_entite' ~ e.id) }}">
<button>Supprimer</button>
</form>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
