{# {% extends 'base.html.twig' %}

{% block title %}Questionnaire details{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> Questionnaire details </h1>
    <div>
    <div>
    <p><b>Nom : </b> {{ questionnaires.nom }}</p>
        <p><b>Prénom : </b> {{ questionnaires.prenom }}</p>
        <p><b>Âge : </b> {{ questionnaires.age }}</p>
        <p><b>Sexe : </b> {{ questionnaires.sexe }}</p>
        <p><b>Poids : </b> {{ questionnaires.poids }}</p>
        <p><b>Group_sanguin : </b> {{ questionnaires.getGroupSanguin() }} </p>

        <p><b>Autres informations : </b> {{ questionnaires.autres ? questionnaires.autres : 'Aucune' }}</p>
        <p><b>Date de soumission : </b> {{ questionnaires.date|date('d/m/Y H:i')}}</p>
        <p><b>Campagne : </b> {{ questionnaires.campagne.titre }}</p> 

    <a href="{{ path('questionnaireback_list') }}" >Return to List</a>
    </div>
    
</div>
{% endblock %} #}


{% extends 'Base_front.html.twig' %}

{% block title %}Questionnaire details{% endblock %}

{% block body %}
<div class="glass-card">
    <h1>Questionnaire details</h1>
    <div class="row">
        <div class="col-md-6">
            <p><b class="text-white">Nom :</b> {{ questionnaires.nom }}</p>
            <p><b class="text-white">Prénom :</b> {{ questionnaires.prenom }}</p>
            <p><b class="text-white">Âge :</b> {{ questionnaires.age }}</p>
        </div>
        <div class="col-md-6">
            <p><b class="text-white">Groupe Sanguin :</b> <span class="badge bg-danger">{{ questionnaires.getGroupSanguin() }}</span></p>
            <p><b class="text-white">Campagne :</b> {{ questionnaires.campagne.titre }}</p>
        </div>
    </div>
    <hr>
    <a href="{{ path('questionnaire_list', { 'client_id': questionnaires.client.id }) }}" class="btn btn-outline-light rounded-pill">Retour à la liste</a>

</div>
{% endblock %}