{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Détails du Questionnaire{% endblock %}

{% block main %}
<div class="glass-card">
    <h1>Questionnaire details</h1>
    <div class="row">
        <div class="col-md-6">
            <p><b class="text-white">Nom :</b> {{ questionnaires.nom }}</p>
            <p><b class="text-white">Prénom :</b> {{ questionnaires.prenom }}</p>
            <p><b class="text-white">Âge :</b> {{ questionnaires.age }}</p>
        </div>
        <div class="col-md-6">
            <p><b class="text-white">Groupe Sanguin :</b> <span class="badge bg-danger">{{ questionnaires.getGroupSanguin() }}</span></p>
            <p><b class="text-white">Campagne :</b> {{ questionnaires.campagne.titre }}</p>
        </div>
    </div>
    <hr>
    <a href="{{ path('questionnaireback_list') }}" class="btn btn-outline-light rounded-pill">Retour à la liste</a>
</div>
{% endblock %}