{% extends 'base.html.twig' %}

{% block title %}Liste des questionnaires{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Liste des questionnaires</h1>
    <a  href="{{ path('questionnaireback_new')}}">create questionnaire</a>

    <hr>
{# Filtres #}
<div class="card p-3 mb-4 shadow-sm">
    {{ form_start(filterForm, {'attr': {'id': 'auto-filter-form'}}) }}
        <div class="row g-2 align-items-center">
            <div class="col-md-2">{{ form_widget(filterForm.nom) }}</div>
            <div class="col-md-2">{{ form_widget(filterForm.prenom) }}</div>
            <div class="col-md-2">{{ form_widget(filterForm.filter_date) }}</div>
            <div class="col-md-2">{{ form_widget(filterForm.filter_time) }}</div>

            <div class="col-md-3">{{ form_widget(filterForm.campagne) }}</div>
            <div class="col-md-2">{{ form_widget(filterForm.groupSanguin) }}</div>
            <div class="col-md-3">{{ form_widget(filterForm.tri) }}</div>

            <div class="col-md-1">
                <a href="{{ path('questionnaireback_list') }}" class="btn btn-outline-danger btn-sm">Reset</a>
            </div>
        </div>
    {{ form_end(filterForm, {'render_rest': false}) }}
</div>

    {% for quest in questionnaires %}
        <div class="mb-4">
        <p><b>id questionnaire : </b> {{ quest.id}} </p>
            <p><b>nom : </b> {{ quest.nom }} </p>
            <p><b>prenom : </b> {{ quest.prenom }} </p>
    
            <p><b>Campagne : </b> {{ quest.campagne.titre }} </p>
            
            <p><b>Date du questionnaire : </b> {{ quest.date | date("d/m/Y H:i") }} </p>
            <p><b>Group_sanguin : </b> {{ quest.getGroupSanguin() }} </p>

            <a  href="{{ path('questionnaireback_details', { id : quest.id })}}">Details</a>

         </div>
        <hr>
    {% else %}
        <p>Aucun questionnaire trouvé.</p>
    {% endfor %}
</div>

<script>
    const form = document.getElementById('auto-filter-form');
    form.querySelectorAll('input, select').forEach(element => {
        element.addEventListener('change', () => form.submit());
        
        // Pour une recherche plus fluide au clavier sur le nom/prénom
        if (element.type === 'text') {
            element.addEventListener('keypress', (e) => {
                if (e.key === 'Enter') {
                    e.preventDefault();
                    form.submit();
                }
            });
        }
    });
</script>
{% endblock %}