{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Liste des questionnaires</h1>

    <div class="glass-card mb-4">
        {{ form_start(filterForm, {'attr': {'id': 'auto-filter-form', 'class': 'js-filter-form'}}) }}
            <div class="row g-3 align-items-center">
                <div class="col-md-2">{{ form_widget(filterForm.filter_date) }}</div>
                <div class="col-md-2">{{ form_widget(filterForm.filter_time) }}</div>
                <div class="col-md-3">{{ form_widget(filterForm.campagne, {'attr': {'style': 'height: 38px;'}}) }}</div>
                <div class="col-md-3">{{ form_widget(filterForm.tri_date, {'attr': {'style': 'height: 38px;'}}) }}</div>

                <div class="col-md-2">
                     <a href="{{ path('questionnaire_list', { 'client_id': client_id }) }}" class="btn btn-danger no-popup w-100">Reset</a>
                </div>
            </div>
        {{ form_end(filterForm, {'render_rest': false}) }}
    </div>

    <div id="list-content">
        {% include 'questionnaire/_list_content.html.twig' %}
    </div>
</div>
{% endblock %}
    